<div class="content-wrapper  p-0">
    <div class="content-body">


        <div class="card border-success">

            <!-- Table displaying filtered data -->
            <ngx-datatable
                    [rows]="filteredLocationInvoices"
                    [rowHeight]="50"
                    class="bootstrap core-bootstrap"
                    [limit]="20"
                    [columnMode]="ColumnMode.force"
                    [headerHeight]="50"
                    [footerHeight]="50"
                    [scrollbarH]="true">


                <ngx-datatable-column name="Date" prop="date" [width]="50">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        {{ row.date | date: 'dd/MM/yyyy' }}
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Type" prop="type" [width]="80">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        {{ row.type }}
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Affaire" prop="affaire" [width]="150">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        {{ row.affaire }}
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Lot " prop="lotName" [width]="150">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <strong>{{ row.lotName }}</strong>
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Client " prop="clientName" [width]="100">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <strong>{{ row.clientName }}</strong>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Genre / Véhicule" prop="genreVehicule" [width]="250">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <strong style="color: #901023;">
                            {{ row.genreVehicule }}
                        </strong>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Locataire" prop="locataire" [width]="150">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <strong style="color: forestgreen;">
                            {{ row.locataire }}
                        </strong>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="N° Facture Loc" prop="numeroFactureLoc" [width]="150">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <strong style="color: #1e1e1e;">
                            {{ row.numeroFactureLoc }}
                        </strong>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="NBR/H/J/F" prop="nbrHJF" [width]="50">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        {{ row.nbrHJF }}
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="PU ht" prop="puHt" [width]="150">
                    <ng-template let-row="row" ngx-datatable-cell-template>
        <span>
          {{ row.puHt | number: '1.2-2' }} Dh
        </span>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Montant Loc HT" prop="montantLocHt" [width]="150">
                    <ng-template let-row="row" ngx-datatable-cell-template>
        <span [ngStyle]="{'color': getColor(row.montantLocHt)}">
            <Strong>{{ row.montantLocHt | number: '1.2-2' }} Dh</Strong>
        </span>
                    </ng-template>
                </ngx-datatable-column>

                <!-- Actions Column -->
                <ngx-datatable-column name="Actions" [width]="100" [sortable]="false">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <div ngbDropdown container="body">
                            <button ngbDropdownToggle type="button" class="btn icon-btn btn-sm hide-arrow" rippleEffect>
                                <span class="cursor-pointer">⋮</span>
                            </button>
                            <div ngbDropdownMenu>
                                <a (click)="openEditModal(row)" ngbDropdownItem>
                                    <span data-feather="edit" class="mr-50"></span> Modifier
                                </a>
                            </div>
                        </div>
                    </ng-template>
                </ngx-datatable-column>
            </ngx-datatable>
        </div>
    </div>
</div>
<!-- Modal for Editing Invoice -->
<ng-template #editModal let-modal>
    <div class="modal-header border-success">
        <h5 class="modal-title">Modifier Location</h5>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body" *ngIf="selectedInvoice">
        <form #editForm="ngForm" (ngSubmit)="updateSelectedInvoice()">
            <!-- Type Field (Updated to ng-select) -->
            <div class="form-group">
                <label for="type">Type</label>
                <ng-select id="type"
                           [items]="typeOptions"
                           bindLabel="name"
                           bindValue="value"
                           [(ngModel)]="selectedInvoice.type"
                           name="type"
                           [clearable]="false"
                           required>
                </ng-select>
            </div>

            <!-- Genre / Véhicule Field (Updated to ng-select) -->
            <div class="form-group">
                <label for="genre">Genre / Véhicule</label>
                <ng-select id="genre"
                           [items]="genres"
                           bindLabel="name"
                           bindValue="value"
                           [(ngModel)]="selectedInvoice.genreVehicule"
                           name="genre"
                           [clearable]="false"
                           required>
                </ng-select>
            </div>

            <!-- Lot Selection -->
            <div class="form-group">
                <label for="lotEditedId">Lot</label>
                <fieldset class="form-group">
                    <ng-select id="lotEditedId"
                               [clearable]="true"
                               [items]="lots"
                               bindLabel="name"
                               bindValue="id"
                               [(ngModel)]="selectedInvoice.lotId"
                               name="lotEditedId"
                               (change)="onLotChange($event)">
                    </ng-select>
                </fieldset>
            </div>


            <!-- Client Selection (Updated to ng-select) -->
            <div class="form-group">
                <label for="client">Client</label>
                <ng-select id="client"
                           [items]="clients"
                           bindLabel="name"
                           bindValue="id"
                           [(ngModel)]="selectedInvoice.clientId"
                           name="clientId"
                           [clearable]="false"
                           required>
                </ng-select>
            </div>

            <!-- Submit Button -->
            <button type="submit" class="btn btn-primary">Modifier</button>
        </form>
    </div>
</ng-template>
