<!-- recap-general.component.html -->
<div class="table-container">
    <table class="table">
        <thead>
        <tr>
            <th *ngFor="let column of columns" [ngClass]="column.sortable ? 'sortable' : ''">
                {{ column.name }}
            </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let row of rows">
            <td>{{ row.affaireName }}</td>
            <td>{{ row.totalCostImputation | currency:'USD' }}</td>
        </tr>
        </tbody>
    </table>
</div>
