
    <a ngbDropdownItem [routerLink]="['/apps/todo']"><span [data-feather]="'check-square'" [class]="'mr-50'"></span> Todo</a>
    <a ngbDropdownItem [routerLink]="['/apps/chat']"><span [data-feather]="'message-square'" [class]="'mr-50'"></span> Chat</a>
    <a ngbDropdownItem [routerLink]="['/apps/email']"><span [data-feather]="'mail'" [class]="'mr-50'"></span> Email</a>
    <a ngbDropdownItem [routerLink]="['/apps/calendar']"><span [data-feather]="'calendar'" [class]="'mr-50'"></span> Calendar</a>
