<div class="slideout-content">
    <div class="modal-slide-in sdfade new-user-modal" id="modals-slide-in">
        <div class="modal-dialog">
            <form class="add-new-user modal-content pt-0" #associationForm="ngForm">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                    (click)="toggleSidebar('new-affectation-sidebar')">×</button>
                <div class="modal-header mb-1">
                    <h5 class="modal-title" id="exampleModalLabel">Chauffeur et Cout</h5>
                </div>
                <div class="modal-body flex-grow-1">
                    <!-- Vehicle Name -->
                    <div class="form-group">
                        <label class="form-label" for="vehiculeName">Vehicule</label>
                        <input type="text" class="form-control" id="vehiculeName" placeholder="Vehicle Name"
                            name="vehiculeName" [(ngModel)]="vehiculeName" required  />
                    </div>
                    <!--readonly-->
                    <!-- Vehicle Model -->
                    <div class="form-group">
                        <label class="form-label" for="vehiculeModel">Vehicule Model</label>
                        <input type="text" class="form-control" id="vehiculeModel" placeholder="Vehicule Model"
                            name="vehiculeModel" [(ngModel)]="model" required />
                    </div>

                    <!-- Vehicle Plate Number -->
                    <div class="form-group">
                        <label class="form-label" for="vehiculeDevice">Code Vehicule</label>
                        <input type="text" class="form-control" id="vehiculeDevice" placeholder="Code Vehicule "
                            name="vehiculeDevice" [(ngModel)]="device" required />
                    </div>
                    <!-- Chauffeur -->
                    <div class="form-group">
                        <!--<label class="form-label" for="chauffeurId">Chauffeur</label>
                        <select class="form-control" id="chauffeurId" name="chauffeurId" [(ngModel)]="chauffeurId"
                            required>
                            <option *ngFor="let chauffeur of chauffeurs" [value]="chauffeur.id">
                                {{ chauffeur.name }}
                            </option>
                        </select>-->


                        <label for="chauffeurId">Chauffeur</label>
                        <fieldset class="form-group">
                            <ng-select
                                    id="chauffeurId"
                                    [clearable]="false"
                                    [items]="chauffeurs"
                                    [(ngModel)]="selectedDrive"
                                    name="chauffeurs"
                                    bindLabel="name">
                            </ng-select>
                        </fieldset>
                    </div>

                    <!-- Cost Per KM -->
                    <div class="form-group">
                        <label class="form-label" for="costPerKm">Cout par km</label>
                        <input type="number" class="form-control" id="costPerKm" placeholder="Cost per km"
                            name="costPerKm" [(ngModel)]="costPerKm" required step="0.01" />
                    </div>


                  
                    <!-- Submit Button -->
                    <button type="button" class="btn btn-primary" (click)="submitAssociation()">Sauvegarder</button>
                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal"
                        (click)="toggleSidebar('new-affectation-sidebar')">Annuler</button>
                </div>
            </form>
        </div>
    </div>
</div>
