<div class="content-wrapper">
    <div class="content-body">
        <div class="card">
            <!-- Vehicle List -->
            <section class="vehicles-list-wrapper">
                <div class="col-12">
                    <h4 class="mb-3">
                        <span class="align-middle"></span>
                    </h4>
                </div>
                <div class="col-12">
                    <h4 class="mb-3">
                        <i data-feather="truck" size="24" class="mr-75 font-medium-4"></i>
                        <span class="align-middle"> List Vehicules</span>
                    </h4>
                </div>
                <div class="col-12">
                    <h4 class="mb-3">
                        <span class="align-middle"> </span>
                    </h4>
                </div>
                <div class="row">
                    <div class="col-12 mb-50">
                        <button class="btn btn-primary ml-1"  (click)="addNewVehicule()" rippleEffect>
                            <i data-feather="plus" class="mr-0 mr-sm-1"></i>
                            <span class="d-none d-sm-inline-block">Charger Vehicules</span>
                        </button>
                    </div>
                    <div class="col-md-6 col-12">
                        <div class="d-flex justify-content-between align-items-center m-1">
                            <label class="d-flex align-items-center">
                                Voir
                                <select class="form-control mx-25" [(ngModel)]="selectedOption">
                                    <option value="15">15</option>
                                    <option value="30">30</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                </select>
                                element
                            </label>
                        </div>
                    </div>
                    <div class="col-md-6 col-12 d-flex justify-content-start justify-content-md-end">
                        <div class="d-flex align-items-center justify-content-end pr-1 pb-1 pb-md-0">
                            <label class="d-flex align-items-center ml-1 ml-md-0">
                                Rechercher:<input [(ngModel)]="searchValue" name="searchValue" type="search" class="form-control ml-25"
                                                  (keyup)="filterUpdate($event)" (search)="filterUpdate($event)"/>
                            </label>

                        </div>
                    </div>
                </div>

                <ngx-datatable [rows]="rows" [rowHeight]="50" class="bootstrap core-bootstrap" [limit]="selectedOption"
                               [columnMode]="ColumnMode.force" [headerHeight]="50" [footerHeight]="50" [scrollbarH]="true">
                    <ngx-datatable-column name="Vehicule" prop="name" [width]="200">
                        <ng-template ngx-datatable-cell-template let-row="row" let-name="value">
                            <div class="d-flex align-items-center">
                                <div class="cell-line-height">
                                    <a  (click)="toggleSidebar('new-affectation-sidebar', row)" class="font-medium-1 d-block">
                                        <span class="font-weight-bold">{{ name }}</span>
                                    </a>
                                </div>
                            </div>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Code Vehicule" prop="device" [width]="150"></ngx-datatable-column>
                    <ngx-datatable-column name="Model" prop="model" [width]="150"></ngx-datatable-column>
                    <ngx-datatable-column name="Cout / Km" prop="costPerKm" [width]="150">
                        <ng-template ngx-datatable-cell-template let-row="row" let-costPerKm="value">
                            {{ costPerKm | number: '1.2-2' }}
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Chauffeur" prop="chauffeur.name" [width]="150"></ngx-datatable-column>
                    <ngx-datatable-column name="Actions" [width]="40" [sortable]="false">
                        <ng-template ngx-datatable-cell-template let-row="row">
                            <div ngbDropdown container="body">
                                <button ngbDropdownToggle type="button" class="btn icon-btn btn-sm hide-arrow" rippleEffect>
                                    <span [data-feather]="'more-vertical'" [class]="'cursor-pointer'"></span>
                                </button>
                                <div ngbDropdownMenu>
                                    <a (click)="toggleSidebar('new-affectation-sidebar', row)" ngbDropdownItem>
                                        <span data-feather="edit" class="mr-50"></span> Modifier
                                    </a>
                                    <a href="javascript:;" ngbDropdownItem (click)="confirmDeleteVehicle(row.id);">
                                        <span data-feather="trash" class="mr-50"></span> Supprimer
                                    </a>
                                </div>
                            </div>
                        </ng-template>
                    </ngx-datatable-column>
                </ngx-datatable>
            </section>
            <!--/ Vehicle List -->
        </div>

        <!-- New Vehicle Sidebar -->
        <core-sidebar class="modal modal-slide-in sidebar-todo-modal fade" name="new-affectation-sidebar"
                      overlayClass="modal-backdrop">
            <!--- <app-new-vehicle-sidebar (vehicleAdded)="onVehicleAdded($event)"></app-new-vehicle-sidebar>-->
            <app-affectation-affaire-chauffeur [selectedVehicle]="selectedVehicle">

            </app-affectation-affaire-chauffeur>
        </core-sidebar>
        <!--/ New Vehicle Sidebar -->
    </div>
</div>
