


<div class="content-wrapper  p-0">
    <div class="content-body">

        <!--  les filtres-->
        <div class="card  border-success">
            <div class="card-body">

                <div class="users-list-filter">
                    <div class="row">

                        <!-- Type de filtre-->
                        <div class="col-12 col-md-1">

                            <fieldset class="form-group" *ngIf="filterLogistiques">
                                <label>Filtre principal :</label>
                                <ng-select
                                        [searchable]="true"
                                        [clearable]="false"
                                        [items]="filterLogistiques"
                                        [(ngModel)]="filterLogistique"
                                        name="filterLogistique"
                                        bindLabel="name"
                                        placeholder="Le filtre"
                                        (change)="onFilterTypeChange()">
                                </ng-select>
                            </fieldset>

                        </div>

                        <!-- Show Filters Only After Filter Type is Selected -->
                        <ng-container *ngIf="filterLogistique">

                            <!-- Order for "Par Affaire" -->
                            <ng-container *ngIf="filterLogistique.value === LogistiqueFilter.AFFAIRE">

                                <!--  L'affaire -->
                                <div class="col-12 col-md-2">
                                    <fieldset class="form-group">
                                        <label class="form-label small text-muted">Affaire</label>
                                        <ng-select [items]="affaires"
                                                   [searchable]="true"
                                                   [clearable]="false"
                                                   bindLabel="code"
                                                   placeholder="L'Affaire"
                                                   [(ngModel)]="filterAffaire"
                                                   (change)="onAffaireChanged()">
                                        </ng-select>
                                    </fieldset>
                                </div>
                                <!-- / L'affaire -->

                                <!-- L'annee -->
                                <div class="col-6 col-md-1">
                                    <fieldset class="form-group">
                                        <label class="form-label small text-muted">Année</label>
                                        <ng-select [items]="years"
                                                   [searchable]="true"
                                                   [clearable]="true"
                                                   bindLabel="value"
                                                   bindValue="value"
                                                   placeholder="L'Année"
                                                   [(ngModel)]="filterYear"
                                                   (change)="onYearSelect()">
                                        </ng-select>
                                    </fieldset>
                                </div>
                                <!-- / L'annee -->

                                <!-- Le mois -->
                                <div class="col-6 col-md-1" *ngIf="filterYear">
                                    <fieldset class="form-group">
                                        <label class="form-label small text-muted">Mois</label>
                                        <ng-select [items]="months"
                                                   [searchable]="true"
                                                   [clearable]="true"
                                                   bindLabel="name"
                                                   bindValue="value"
                                                   placeholder="Le Mois"
                                                   [(ngModel)]="filterMonth"
                                                   (change)="onMonthSelect()">
                                        </ng-select>
                                    </fieldset>
                                </div>
                                <!-- / Le mois -->

                                <!--  Véhicule -->
                                <div class="col-6 col-md-2">
                                    <fieldset class="form-group">
                                        <label class="form-label small text-muted">Engins</label>
                                        <ng-select [items]="engins"
                                                   [searchable]="true"
                                                   [clearable]="true"
                                                   bindLabel="name"
                                                   placeholder="Le Véhicule"
                                                   [(ngModel)]="filterEngin"
                                                   (change)="onEnginChanged()">
                                        </ng-select>
                                    </fieldset>
                                </div>
                                <!-- / Véhicule -->

                                <!--  Client -->
                                <div class="col-6 col-md-1">
                                    <fieldset class="form-group">
                                        <label class="form-label small text-muted">Client</label>
                                        <ng-select [items]="clients"
                                                   [searchable]="true"
                                                   [clearable]="true"
                                                   bindLabel="name"
                                                   placeholder="Le Client"
                                                   [(ngModel)]="filterClient"
                                                   (change)="onClientChanged()">
                                        </ng-select>
                                    </fieldset>
                                </div>
                                <!-- / Client -->

                                <!--  Lot -->
                                <div class="col-6 col-md-2">
                                    <fieldset class="form-group">
                                        <label class="form-label small text-muted">Lot</label>
                                        <ng-select [items]="lots"
                                                   [searchable]="true"
                                                   [clearable]="true"
                                                   bindLabel="name"
                                                   placeholder="Le Lot"
                                                   [(ngModel)]="filterLot"
                                                   (change)="onLotChanged()">
                                        </ng-select>
                                    </fieldset>
                                </div>
                                <!-- / Lot -->

                                <!--  Sous traitant -->
                                <div class="col-12 col-md-2" *ngIf="soustraitants && soustraitants.length > 0">
                                    <fieldset class="form-group">
                                        <label class="form-label small text-muted">Sous traitant</label>
                                        <ng-select [items]="soustraitants"
                                                   [searchable]="true"
                                                   [clearable]="true"
                                                   bindLabel="fullName"
                                                   placeholder="Le Sous traitant"
                                                   [(ngModel)]="filterSoustraitant"
                                                   (change)="onSousTraitantChanged()">
                                        </ng-select>
                                    </fieldset>
                                </div>
                                <!-- / Sous traitant -->

                            </ng-container>

                            <!-- Order for "Par Mois" -->
                            <ng-container *ngIf="filterLogistique.value === LogistiqueFilter.MONTH">

                                <!-- L'annee -->
                                <div class="col-6 col-md-1">
                                    <fieldset class="form-group">
                                        <label class="form-label small text-muted">Année</label>
                                        <ng-select [items]="years"
                                                   [searchable]="true"
                                                   [clearable]="false"
                                                   bindLabel="value"
                                                   bindValue="value"
                                                   placeholder="L'Année"
                                                   [(ngModel)]="filterYear"
                                                   (change)="onYearSelect()">
                                        </ng-select>
                                    </fieldset>
                                </div>
                                <!-- / L'annee -->

                                <!-- Le mois -->
                                <div class="col-6 col-md-1" *ngIf="filterYear">
                                    <fieldset class="form-group">
                                        <label class="form-label small text-muted">Mois</label>
                                        <ng-select [items]="months"
                                                   [searchable]="true"
                                                   [clearable]="false"
                                                   bindLabel="name"
                                                   bindValue="value"
                                                   placeholder="Le Mois"
                                                   [(ngModel)]="filterMonth"
                                                   (change)="onMonthSelect()">
                                        </ng-select>
                                    </fieldset>
                                </div>
                                <!-- / Le mois -->

                                <!--  L'affaire -->
                                <div class="col-12 col-md-2">
                                    <fieldset class="form-group">
                                        <label class="form-label small text-muted">Affaire</label>
                                        <ng-select [items]="affaires"
                                                   [searchable]="true"
                                                   [clearable]="true"
                                                   bindLabel="code"
                                                   placeholder="L'Affaire"
                                                   [(ngModel)]="filterAffaire"
                                                   (change)="onAffaireChanged()">
                                        </ng-select>
                                    </fieldset>
                                </div>
                                <!-- / L'affaire -->

                                <!--  Véhicule -->
                                <div class="col-6 col-md-2">
                                    <fieldset class="form-group">
                                        <label class="form-label small text-muted">Véhicule</label>
                                        <ng-select [items]="engins"
                                                   [searchable]="true"
                                                   [clearable]="true"
                                                   bindLabel="name"
                                                   placeholder="Le Véhicule"
                                                   [(ngModel)]="filterEngin"
                                                   (change)="onEnginChanged()">
                                        </ng-select>
                                    </fieldset>
                                </div>
                                <!-- / Véhicule -->

                                <!--  Client -->
                                <div class="col-6 col-md-1">
                                    <fieldset class="form-group">
                                        <label class="form-label small text-muted">Client</label>
                                        <ng-select [items]="clients"
                                                   [searchable]="true"
                                                   [clearable]="true"
                                                   bindLabel="name"
                                                   placeholder="Le Client"
                                                   [(ngModel)]="filterClient"
                                                   (change)="onClientChanged()">
                                        </ng-select>
                                    </fieldset>
                                </div>
                                <!-- / Client -->

                                <!--  Lot -->
                                <div class="col-6 col-md-2">
                                    <fieldset class="form-group">
                                        <label class="form-label small text-muted">Lot</label>
                                        <ng-select [items]="lots"
                                                   [searchable]="true"
                                                   [clearable]="true"
                                                   bindLabel="name"
                                                   placeholder="Le Lot"
                                                   [(ngModel)]="filterLot"
                                                   (change)="onLotChanged()">
                                        </ng-select>
                                    </fieldset>
                                </div>
                                <!-- / Lot -->

                                <!--  Sous traitant -->
                                <div class="col-12 col-md-2" *ngIf="soustraitants && soustraitants.length > 0">
                                    <fieldset class="form-group">
                                        <label class="form-label small text-muted">Sous traitant</label>
                                        <ng-select [items]="soustraitants"
                                                   [searchable]="true"
                                                   [clearable]="true"
                                                   bindLabel="fullName"
                                                   placeholder="Le Sous traitant"
                                                   [(ngModel)]="filterSoustraitant"
                                                   (change)="onSousTraitantChanged()">
                                        </ng-select>
                                    </fieldset>
                                </div>
                                <!-- / Sous traitant -->

                            </ng-container>

                            <!-- Order for "Par VEHICULE" -->
                            <ng-container *ngIf="filterLogistique.value === LogistiqueFilter.VEHICULE">

                                <!--  Véhicule -->
                                <div class="col-6 col-md-2">
                                    <fieldset class="form-group">
                                        <label class="form-label small text-muted">Véhicule</label>
                                        <ng-select [items]="engins"
                                                   [searchable]="true"
                                                   [clearable]="false"
                                                   bindLabel="name"
                                                   placeholder="Le Véhicule"
                                                   [(ngModel)]="filterEngin"
                                                   (change)="onEnginChanged()">
                                        </ng-select>
                                    </fieldset>
                                </div>
                                <!-- / Véhicule -->

                                <!--  L'affaire -->
                                <div class="col-12 col-md-2">
                                    <fieldset class="form-group">
                                        <label class="form-label small text-muted">Affaire</label>
                                        <ng-select [items]="affaires"
                                                   [searchable]="true"
                                                   [clearable]="true"
                                                   bindLabel="code"
                                                   placeholder="L'Affaire"
                                                   [(ngModel)]="filterAffaire"
                                                   (change)="onAffaireChanged()">
                                        </ng-select>
                                    </fieldset>
                                </div>
                                <!-- / L'affaire -->

                                <!-- L'annee -->
                                <div class="col-6 col-md-1">
                                    <fieldset class="form-group">
                                        <label class="form-label small text-muted">Année</label>
                                        <ng-select [items]="years"
                                                   [searchable]="true"
                                                   [clearable]="true"
                                                   bindLabel="value"
                                                   bindValue="value"
                                                   placeholder="L'Année"
                                                   [(ngModel)]="filterYear"
                                                   (change)="onYearSelect()">
                                        </ng-select>
                                    </fieldset>
                                </div>
                                <!-- / L'annee -->

                                <!-- Le mois -->
                                <div class="col-6 col-md-1" *ngIf="filterYear">
                                    <fieldset class="form-group">
                                        <label class="form-label small text-muted">Mois</label>
                                        <ng-select [items]="months"
                                                   [searchable]="true"
                                                   [clearable]="true"
                                                   bindLabel="name"
                                                   bindValue="value"
                                                   placeholder="Le Mois"
                                                   [(ngModel)]="filterMonth"
                                                   (change)="onMonthSelect()">
                                        </ng-select>
                                    </fieldset>
                                </div>
                                <!-- / Le mois -->

                                <!--  Client -->
                                <div class="col-6 col-md-1">
                                    <fieldset class="form-group">
                                        <label class="form-label small text-muted">Client</label>
                                        <ng-select [items]="clients"
                                                   [searchable]="true"
                                                   [clearable]="true"
                                                   bindLabel="name"
                                                   placeholder="Le Client"
                                                   [(ngModel)]="filterClient"
                                                   (change)="onClientChanged()">
                                        </ng-select>
                                    </fieldset>
                                </div>
                                <!-- / Client -->

                                <!--  Lot -->
                                <div class="col-6 col-md-2">
                                    <fieldset class="form-group">
                                        <label class="form-label small text-muted">Lot</label>
                                        <ng-select [items]="lots"
                                                   [searchable]="true"
                                                   [clearable]="true"
                                                   bindLabel="name"
                                                   placeholder="Le Lot"
                                                   [(ngModel)]="filterLot"
                                                   (change)="onLotChanged()">
                                        </ng-select>
                                    </fieldset>
                                </div>
                                <!-- / Lot -->

                                <!--  Sous traitant -->
                                <div class="col-12 col-md-2" *ngIf="soustraitants && soustraitants.length > 0">
                                    <fieldset class="form-group">
                                        <label class="form-label small text-muted">Sous traitant</label>
                                        <ng-select [items]="soustraitants"
                                                   [searchable]="true"
                                                   [clearable]="true"
                                                   bindLabel="fullName"
                                                   placeholder="Le Sous traitant"
                                                   [(ngModel)]="filterSoustraitant"
                                                   (change)="onSousTraitantChanged()">
                                        </ng-select>
                                    </fieldset>
                                </div>
                                <!-- / Sous traitant -->


                            </ng-container>

                            <!-- Order for "Par CLIENT" -->
                            <ng-container *ngIf="filterLogistique.value === LogistiqueFilter.CLIENT">

                                <!--  Client -->
                                <div class="col-6 col-md-1">
                                    <fieldset class="form-group">
                                        <label class="form-label small text-muted">Client</label>
                                        <ng-select [items]="clients"
                                                   [searchable]="true"
                                                   [clearable]="false"
                                                   bindLabel="name"
                                                   placeholder="Le Client"
                                                   [(ngModel)]="filterClient"
                                                   (change)="onClientChanged()">
                                        </ng-select>
                                    </fieldset>
                                </div>
                                <!-- / Client -->

                                <!-- L'annee -->
                                <div class="col-6 col-md-1">
                                    <fieldset class="form-group">
                                        <label class="form-label small text-muted">Année</label>
                                        <ng-select [items]="years"
                                                   [searchable]="true"
                                                   [clearable]="true"
                                                   bindLabel="value"
                                                   bindValue="value"
                                                   placeholder="L'Année"
                                                   [(ngModel)]="filterYear"
                                                   (change)="onYearSelect()">
                                        </ng-select>
                                    </fieldset>
                                </div>
                                <!-- / L'annee -->

                                <!-- Le mois -->
                                <div class="col-6 col-md-1" *ngIf="filterYear">
                                    <fieldset class="form-group">
                                        <label class="form-label small text-muted">Mois</label>
                                        <ng-select [items]="months"
                                                   [searchable]="true"
                                                   [clearable]="true"
                                                   bindLabel="name"
                                                   bindValue="value"
                                                   placeholder="Le Mois"
                                                   [(ngModel)]="filterMonth"
                                                   (change)="onMonthSelect()">
                                        </ng-select>
                                    </fieldset>
                                </div>
                                <!-- / Le mois -->

                                <!--  L'affaire -->
                                <div class="col-12 col-md-2">
                                    <fieldset class="form-group">
                                        <label class="form-label small text-muted">Affaire</label>
                                        <ng-select [items]="affaires"
                                                   [searchable]="true"
                                                   [clearable]="true"
                                                   bindLabel="code"
                                                   placeholder="L'Affaire"
                                                   [(ngModel)]="filterAffaire"
                                                   (change)="onAffaireChanged()">
                                        </ng-select>
                                    </fieldset>
                                </div>
                                <!-- / L'affaire -->

                                <!--  Véhicule -->
                                <div class="col-6 col-md-2">
                                    <fieldset class="form-group">
                                        <label class="form-label small text-muted">Véhicule</label>
                                        <ng-select [items]="engins"
                                                   [searchable]="true"
                                                   [clearable]="true"
                                                   bindLabel="name"
                                                   placeholder="Le Véhicule"
                                                   [(ngModel)]="filterEngin"
                                                   (change)="onEnginChanged()">
                                        </ng-select>
                                    </fieldset>
                                </div>
                                <!-- / Véhicule -->

                                <!--  Lot -->
                                <div class="col-6 col-md-2">
                                    <fieldset class="form-group">
                                        <label class="form-label small text-muted">Lot</label>
                                        <ng-select [items]="lots"
                                                   [searchable]="true"
                                                   [clearable]="true"
                                                   bindLabel="name"
                                                   placeholder="Le Lot"
                                                   [(ngModel)]="filterLot"
                                                   (change)="onLotChanged()">
                                        </ng-select>
                                    </fieldset>
                                </div>
                                <!-- / Lot -->

                                <!--  Sous traitant -->
                                <div class="col-12 col-md-2" *ngIf="soustraitants && soustraitants.length > 0">
                                    <fieldset class="form-group">
                                        <label class="form-label small text-muted">Sous traitant</label>
                                        <ng-select [items]="soustraitants"
                                                   [searchable]="true"
                                                   [clearable]="true"
                                                   bindLabel="fullName"
                                                   placeholder="Le Sous traitant"
                                                   [(ngModel)]="filterSoustraitant"
                                                   (change)="onSousTraitantChanged()">
                                        </ng-select>
                                    </fieldset>
                                </div>
                                <!-- / Sous traitant -->


                            </ng-container>

                            <!-- Order for "Par LOT" -->
                            <ng-container *ngIf="filterLogistique.value === LogistiqueFilter.LOT">

                                <!--  Lot -->
                                <div class="col-6 col-md-2">
                                    <fieldset class="form-group">
                                        <label class="form-label small text-muted">Lot</label>
                                        <ng-select [items]="lots"
                                                   [searchable]="true"
                                                   [clearable]="false"
                                                   bindLabel="name"
                                                   placeholder="Le Lot"
                                                   [(ngModel)]="filterLot"
                                                   (change)="onLotChanged()">
                                        </ng-select>
                                    </fieldset>
                                </div>
                                <!-- / Lot -->

                                <!-- L'annee -->
                                <div class="col-6 col-md-1">
                                    <fieldset class="form-group">
                                        <label class="form-label small text-muted">Année</label>
                                        <ng-select [items]="years"
                                                   [searchable]="true"
                                                   [clearable]="true"
                                                   bindLabel="value"
                                                   bindValue="value"
                                                   placeholder="L'Année"
                                                   [(ngModel)]="filterYear"
                                                   (change)="onYearSelect()">
                                        </ng-select>
                                    </fieldset>
                                </div>
                                <!-- / L'annee -->

                                <!-- Le mois -->
                                <div class="col-6 col-md-1" *ngIf="filterYear">
                                    <fieldset class="form-group">
                                        <label class="form-label small text-muted">Mois</label>
                                        <ng-select [items]="months"
                                                   [searchable]="true"
                                                   [clearable]="true"
                                                   bindLabel="name"
                                                   bindValue="value"
                                                   placeholder="Le Mois"
                                                   [(ngModel)]="filterMonth"
                                                   (change)="onMonthSelect()">
                                        </ng-select>
                                    </fieldset>
                                </div>
                                <!-- / Le mois -->

                                <!--  L'affaire -->
                                <div class="col-12 col-md-2">
                                    <fieldset class="form-group">
                                        <label class="form-label small text-muted">Affaire</label>
                                        <ng-select [items]="affaires"
                                                   [searchable]="true"
                                                   [clearable]="true"
                                                   bindLabel="code"
                                                   placeholder="L'Affaire"
                                                   [(ngModel)]="filterAffaire"
                                                   (change)="onAffaireChanged()">
                                        </ng-select>
                                    </fieldset>
                                </div>
                                <!-- / L'affaire -->

                                <!--  Véhicule -->
                                <div class="col-6 col-md-2">
                                    <fieldset class="form-group">
                                        <label class="form-label small text-muted">Véhicule</label>
                                        <ng-select [items]="engins"
                                                   [searchable]="true"
                                                   [clearable]="true"
                                                   bindLabel="name"
                                                   placeholder="Le Véhicule"
                                                   [(ngModel)]="filterEngin"
                                                   (change)="onEnginChanged()">
                                        </ng-select>
                                    </fieldset>
                                </div>
                                <!-- / Véhicule -->

                                <!--  Client -->
                                <div class="col-6 col-md-1">
                                    <fieldset class="form-group">
                                        <label class="form-label small text-muted">Client</label>
                                        <ng-select [items]="clients"
                                                   [searchable]="true"
                                                   [clearable]="true"
                                                   bindLabel="name"
                                                   placeholder="Le Client"
                                                   [(ngModel)]="filterClient"
                                                   (change)="onClientChanged()">
                                        </ng-select>
                                    </fieldset>
                                </div>
                                <!-- / Client -->

                                <!--  Sous traitant -->
                                <div class="col-12 col-md-2" *ngIf="soustraitants && soustraitants.length > 0">
                                    <fieldset class="form-group">
                                        <label class="form-label small text-muted">Sous traitant</label>
                                        <ng-select [items]="soustraitants"
                                                   [searchable]="true"
                                                   [clearable]="true"
                                                   bindLabel="fullName"
                                                   placeholder="Le Sous traitant"
                                                   [(ngModel)]="filterSoustraitant"
                                                   (change)="onSousTraitantChanged()">
                                        </ng-select>
                                    </fieldset>
                                </div>
                                <!-- / Sous traitant -->


                            </ng-container>

                            <!-- Order for "Par SOUS TRAITANT" -->
                            <ng-container *ngIf="filterLogistique.value === LogistiqueFilter.SOUS_TRAITANT">

                                <!--  Sous traitant -->
                                <div class="col-12 col-md-2" *ngIf="soustraitants && soustraitants.length > 0">
                                    <fieldset class="form-group">
                                        <label class="form-label small text-muted">Sous traitant</label>
                                        <ng-select [items]="soustraitants"
                                                   [searchable]="true"
                                                   [clearable]="false"
                                                   bindLabel="fullName"
                                                   placeholder="Le Sous traitant"
                                                   [(ngModel)]="filterSoustraitant"
                                                   (change)="onSousTraitantChanged()">
                                        </ng-select>
                                    </fieldset>
                                </div>
                                <!-- / Sous traitant -->

                                <!-- L'annee -->
                                <div class="col-6 col-md-1">
                                    <fieldset class="form-group">
                                        <label class="form-label small text-muted">Année</label>
                                        <ng-select [items]="years"
                                                   [searchable]="true"
                                                   [clearable]="true"
                                                   bindLabel="value"
                                                   bindValue="value"
                                                   placeholder="L'Année"
                                                   [(ngModel)]="filterYear"
                                                   (change)="onYearSelect()">
                                        </ng-select>
                                    </fieldset>
                                </div>
                                <!-- / L'annee -->

                                <!-- Le mois -->
                                <div class="col-6 col-md-1" *ngIf="filterYear">
                                    <fieldset class="form-group">
                                        <label class="form-label small text-muted">Mois</label>
                                        <ng-select [items]="months"
                                                   [searchable]="true"
                                                   [clearable]="true"
                                                   bindLabel="name"
                                                   bindValue="value"
                                                   placeholder="Le Mois"
                                                   [(ngModel)]="filterMonth"
                                                   (change)="onMonthSelect()">
                                        </ng-select>
                                    </fieldset>
                                </div>
                                <!-- / Le mois -->

                                <!--  L'affaire -->
                                <div class="col-12 col-md-2">
                                    <fieldset class="form-group">
                                        <label class="form-label small text-muted">Affaire</label>
                                        <ng-select [items]="affaires"
                                                   [searchable]="true"
                                                   [clearable]="true"
                                                   bindLabel="code"
                                                   placeholder="L'Affaire"
                                                   [(ngModel)]="filterAffaire"
                                                   (change)="onAffaireChanged()">
                                        </ng-select>
                                    </fieldset>
                                </div>
                                <!-- / L'affaire -->

                                <!--  Véhicule -->
                                <div class="col-6 col-md-2">
                                    <fieldset class="form-group">
                                        <label class="form-label small text-muted">Véhicule</label>
                                        <ng-select [items]="engins"
                                                   [searchable]="true"
                                                   [clearable]="true"
                                                   bindLabel="name"
                                                   placeholder="Le Véhicule"
                                                   [(ngModel)]="filterEngin"
                                                   (change)="onEnginChanged()">
                                        </ng-select>
                                    </fieldset>
                                </div>
                                <!-- / Véhicule -->

                                <!--  Client -->
                                <div class="col-6 col-md-1">
                                    <fieldset class="form-group">
                                        <label class="form-label small text-muted">Client</label>
                                        <ng-select [items]="clients"
                                                   [searchable]="true"
                                                   [clearable]="true"
                                                   bindLabel="name"
                                                   placeholder="Le Client"
                                                   [(ngModel)]="filterClient"
                                                   (change)="onClientChanged()">
                                        </ng-select>
                                    </fieldset>
                                </div>
                                <!-- / Client -->

                                <!--  Lot -->
                                <div class="col-6 col-md-2">
                                    <fieldset class="form-group">
                                        <label class="form-label small text-muted">Lot</label>
                                        <ng-select [items]="lots"
                                                   [searchable]="true"
                                                   [clearable]="true"
                                                   bindLabel="name"
                                                   placeholder="Le Lot"
                                                   [(ngModel)]="filterLot"
                                                   (change)="onLotChanged()">
                                        </ng-select>
                                    </fieldset>
                                </div>
                                <!-- / Lot -->


                            </ng-container>


                        </ng-container>

                    </div>
                </div>

            </div>
        </div>
        <!-- / les filtres-->

        <!--  loading Screen -->
        <core-loading-screen id="loading-bg" *ngIf="isLoading">
            <div class="loading-logo">
                <!--        <img src="assets/images/logo/appIconeFullColors.png" alt="Logo"/>-->
                <!--        <img src="assets/images/logo/icon-color-complet.ico" alt="Logo"/>-->
                <img src="assets/images/logo/dot-loading.svg" alt="Logo"/>

            </div>
            <div class="loading">
                <div class="effect-1 effects"></div>
                <div class="effect-2 effects"></div>
                <div class="effect-3 effects"></div>
            </div>
        </core-loading-screen>
        <!-- /  loading Screen -->

        <!--  Data -->
        <div class="card  border-success">

            <h5 class="card-header bg-light d-flex justify-content-between align-items-center">
                <div class="button-container">
                    <button class="btn btn-outline-primary round" (click)="resetFilters()">
                        <i class="fas fa-sync-alt"></i> Réinitialiser les filtres
                    </button>
                    <button class="btn btn-outline-primary round" (click)="exportToPdf()">
                        <i class="fas fa-file-pdf"></i> Exporter format PDF
                    </button>
                    <button class="btn btn-outline-primary round" (click)="exportToExcel()">
                        <i class="fas fa-file-excel"></i> Exporter format Excel
                    </button>
                </div>

                <span class="badge badge-pill badge-primary padding-badge-cost mr-3" >
                         Total Cost:<Strong>{{ getTotalCostImputation() | number:'1.2-2' }} Dhs</Strong>
                    </span>

                <span class="badge badge-pill badge-success padding-badge-cost mr-3" >
                         Rendement Moyen :<Strong>{{ getMoyenneImputation() | number:'1.2-2' }} Dhs</Strong>
                    </span>
            </h5>



            <div class="card-body">
                    <ngx-datatable [rows]="filteredImputations"
                                   [rowHeight]="50" class="bootstrap core-bootstrap"
                                   [columnMode]="ColumnMode.force"
                                   [headerHeight]="50"
                                   [footerHeight]="50"
                                   [scrollbarH]="true"
                                   [scrollbarV]="true"
                                   [loadingIndicator]="isLoading"
                                   [style.height]="'600px'">

                        <ngx-datatable-column name="Date" prop="enginRoute.date" [width]="100">
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                {{ row.enginRoute?.date | date: 'dd/MM/yyyy' }}
                            </ng-template>
                        </ngx-datatable-column>

                        <ngx-datatable-column name="Engin" prop="enginRoute.vehiculeGpsLocation.name" [width]="200">
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                {{ row.enginRoute?.enginGpsLocation?.name }}
                            </ng-template>
                        </ngx-datatable-column>

                        <ngx-datatable-column name="Affaire" prop="affaire.code" [width]="250">
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                {{ row.affaireCode }}
                            </ng-template>
                        </ngx-datatable-column>

                        <ngx-datatable-column name="Client" prop="client.name" [width]="100">
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                {{ row.clientName }}
                            </ng-template>
                        </ngx-datatable-column>

                        <ngx-datatable-column name="Lot" prop="lot.name" [width]="120">
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                {{ row.lotName }}
                            </ng-template>
                        </ngx-datatable-column>

                        <ngx-datatable-column name="Soustraitant" prop="soustraitant.name" [width]="200">
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                {{ row.subContractorFullName }}
                            </ng-template>
                        </ngx-datatable-column>

                        <ngx-datatable-column name=" Nombre D'Heure" prop="fillingPercentage" [width]="80">
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                {{ row.nbrHImputation }} H
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Cost Imputation" prop="fillingPercentage" [width]="80">
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                <strong style="color: #28a745;">{{ row.costImputation|number }} </strong>
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Observation" prop="observation" [width]="100">
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                {{ row.observation }}
                            </ng-template>
                        </ngx-datatable-column>
                    </ngx-datatable>
            </div>
        </div>
        <!--  /Data -->


    </div>
</div>


<!-- Data Table -->

