<div class="content-wrapper">
    <div class="content-body">
        <!-- Chauffeur List -->
        <section class="chauffeurs-list-wrapper">
            <div class="col-12">
                <h4 class="mb-3">
                    <i data-feather="user" size="16" class="mr-75 font-medium-4"></i>
                    <span class="align-middle"> List Chauffeurs</span>
                </h4>
            </div>

            <div class="card">

                <div class="row">
                    <div class="col-md-6 col-12">
                        <div class="d-flex justify-content-between align-items-center m-1">
                            <label class="d-flex align-items-center">
                                Voir
                                <select class="form-control mx-25" [(ngModel)]="selectedOption">
                                    <option value="10">10</option>
                                    <option value="20">20</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                </select>
                                Element
                            </label>
                        </div>
                    </div>
                    <div class="col-md-6 col-12 d-flex justify-content-start justify-content-md-end">
                        <div class="d-flex align-items-center justify-content-end pr-1 pb-1 pb-md-0">
                            <label class="d-flex align-items-center ml-1 ml-md-0">
                                Rechercher:<input [(ngModel)]="searchValue" name="searchValue" type="search" class="form-control ml-25"
                                                  (keyup)="filterUpdate($event)" (search)="filterUpdate($event)"/>
                            </label>
                            <button class="btn btn-primary ml-1" (click)="toggleSidebar('new-chauffeur-sidebar')">
                                <i data-feather="plus" class="d-sm-none d-inline-block mr-0 mr-sm-1"></i>
                                <span class="d-none d-sm-inline-block">Ajouter Chauffeur</span>
                            </button>
                        </div>
                    </div>
                </div>


                <ngx-datatable [rows]="rows" [rowHeight]="50" class="bootstrap core-bootstrap" [limit]="selectedOption"
                               [columnMode]="ColumnMode.force" [headerHeight]="50" [footerHeight]="50" [scrollbarH]="true">

                    <ngx-datatable-column name="Image" prop="imgPath" [width]="200">
                        <ng-template let-row="row" ngx-datatable-cell-template>


                            <div class="d-flex align-items-center">
                                <div *ngIf="row.imgPath.length > 0; else noImage">
                                    <img class="rounded-circle mr-1"
                                         src="{{ row.imgPath }}"
                                         height="50" width="50"
                                         alt="datatable-avatar"/>
                                </div>

                                <ng-template #noImage>
                                    <img src="/src/assets/images/avatars/unknown.png" alt="Avatar" height="50" width="50"/>
                                </ng-template>

                            </div>

                            <!--<div data-toggle="tooltip" data-popup="tooltip-custom" placement="top" container="body" class="avatar pull-up my-0">


                                <img *ngIf="row.imgPath; else noImage" [src]="getImageUrl(row.imgPath)" alt="No Image" height="45" width="45"/>
                                <ng-template #noImage>
                                    <img src="/assets/images/avatars/unknown.png" alt="Avatar" height="50" width="50"/>
                                </ng-template>

                            </div>-->
                        </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column name="Nom Complet" prop="name" [width]="200">
                        <ng-template ngx-datatable-cell-template let-row="row" let-name="value">
                            <div class="d-flex align-items-center">
                                <div class="cell-line-height">
                                    <span class="font-weight-bold">{{ name }}</span>

                                </div>
                            </div>
                        </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column name="Code Chauffeur" prop="idn" [width]="200"></ngx-datatable-column>
                    <ngx-datatable-column name="Email" prop="email" [width]="200"></ngx-datatable-column>
                    <ngx-datatable-column name="Téléphone" prop="phone" [width]="100"></ngx-datatable-column>
                    <ngx-datatable-column name="Role" prop="role" [width]="200"></ngx-datatable-column>

                    <ngx-datatable-column name="Actions" [width]="40" [sortable]="false">
                        <ng-template ngx-datatable-cell-template let-row="row">

                            <div ngbDropdown container="body">
                                <button ngbDropdownToggle type="button" class="btn icon-btn btn-sm hide-arrow" rippleEffect>
                                    <span [data-feather]="'more-vertical'" [class]="'cursor-pointer'"></span>
                                </button>
                                <div ngbDropdownMenu>

                                    <a [routerLink]="['/projets/logistique/vehiculeChantier/chauffeur/chauffeur-edit', row.id]" ngbDropdownItem>
                                        <span data-feather="edit" class="mr-50"></span> Modifier
                                    </a>
                                    <a href="javascript:;" ngbDropdownItem (click)="confirmDeleteChauffeur(row.id)">
                                        <span data-feather="trash" class="mr-50"></span> Supprimer
                                    </a>
                                </div>
                            </div>

                        </ng-template>
                    </ngx-datatable-column>

                </ngx-datatable>
            </div>
        </section>
        <!--/ Chauffeur List -->
    </div>

    <!-- New Chauffeur Sidebar -->
    <core-sidebar class="modal modal-slide-in sidebar-todo-modal fade" name="new-chauffeur-sidebar"
                  overlayClass="modal-backdrop">
        <app-new-chauffeur-sidebar (chauffeurAdded)="onChauffeurAdded($event)">

        </app-new-chauffeur-sidebar>
    </core-sidebar>
    <!--/ New Chauffeur Sidebar -->
    <!-- <core-sidebar class="modal modal-slide-in sidebar-todo-modal fade" name="edite-chauffeur"
      overlayClass="modal-backdrop">
      <app-chauffeur-edit></app-chauffeur-edit>
    </core-sidebar> -->
</div>
