<div class="content-wrapper p-0">
    <div class="content-body">

        <!--  les filtres-->
        <div class="card  border-success">
            <div class="card-body">
                <!--  filter start -->

                <div class="users-list-filter">
                    <form>
                        <div class="row">

                            <!-- Type de filtre-->
                            <div class="col-1 col-md-1" *ngIf="filterLogistiques">
                                <fieldset class="form-group">
                                    <label>Filtrer par :</label>
                                    <ng-select
                                            [searchable]="true"
                                            [clearable]="false"
                                            [items]="filterLogistiques"
                                            [(ngModel)]="filterLogistique"
                                            name="filterLogistique"
                                            bindLabel="name"
                                            placeholder="Le filtre"
                                            (change)="onFilterTypeChange()">
                                    </ng-select>
                                </fieldset>
                            </div>


                            <!-- Par Année-->
                            <div class="col-1 col-md-1" *ngIf="years && filterLogistique.value === LogistiqueFilter.MONTH">
                                <fieldset class="form-group">
                                    <label>L'Année</label>
                                    <ng-select
                                            [searchable]="true"
                                            [clearable]="false"
                                            [items]="years"
                                            [(ngModel)]="selectedYear"
                                            name="selectedYear"
                                            bindLabel="name"
                                            placeholder="Sélectionner l'année"
                                            (change)="loadEnginRoutes()">
                                    </ng-select>
                                </fieldset>
                            </div>

                            <!--  Par Année-->
                            <div class="col-1 col-md-1" *ngIf="months && filterLogistique.value === LogistiqueFilter.MONTH">
                                <fieldset class="form-group">
                                    <label>Le mois</label>
                                    <ng-select
                                            [searchable]="true"
                                            [clearable]="false"
                                            [items]="months"
                                            [(ngModel)]="selectedMonth"
                                            name="selectedMonth"
                                            bindLabel="name"
                                            placeholder="Sélectionner le mois"
                                            (change)="loadEnginRoutes()">
                                    </ng-select>
                                </fieldset>
                            </div>


                            <!-- Search by Date (Daily) -->
                            <div class="col-2 col-md-2" *ngIf="filterLogistique.value === LogistiqueFilter.DAY">
                                <div class="form-group">
                                    <label for="filterDate" class="filter-label">Date:</label>
                                    <div class="input-wrapper">
                                        <input class="form-control"
                                               type="date"
                                               id="filterDate"
                                               [(ngModel)]="filterDate"
                                               name="filterDate"
                                               (change)="loadEnginRoutes()"
                                               placeholder=" "/>
                                    </div>
                                </div>
                            </div>

                            <!-- Par engin-->
                            <div class="col-12 col-md-2" *ngIf="filterLogistique.value!=null">
                                <fieldset class="form-group">
                                    <label>Les Engins</label>
                                    <ng-select
                                            [searchable]="true"
                                            [clearable]="true"
                                            [items]="enginGps"
                                            [(ngModel)]="selectedEnginGps"
                                            name="selectedEnginGps"
                                            bindLabel="name"
                                            placeholder="L'Engin"
                                            (change)="filterData()">
                                    </ng-select>
                                </fieldset>
                            </div>


                        </div>
                    </form>
                </div>

                <!--  filter end -->

            </div>
        </div>
        <!-- / les filtres-->

        <!--  loading Screen -->
        <core-loading-screen id="loading-bg" *ngIf="loading">
            <div class="loading-logo">
                <!--        <img src="assets/images/logo/appIconeFullColors.png" alt="Logo"/>-->
                <!--        <img src="assets/images/logo/icon-color-complet.ico" alt="Logo"/>-->
                <img src="assets/images/logo/dot-loading.svg" alt="Logo"/>

            </div>
            <div class="loading">
                <div class="effect-1 effects"></div>
                <div class="effect-2 effects"></div>
                <div class="effect-3 effects"></div>
            </div>
        </core-loading-screen>
        <!-- /  loading Screen -->


        <!--  Data -->
        <div class="card  border-success" *ngIf="!loading">
            <div class="card-body">
                <!-- Table displaying filtered data -->
                <ngx-datatable [rows]="filteredRoutes" [rowHeight]="50" class="bootstrap core-bootstrap" [limit]="20"
                               [columnMode]="ColumnMode.force" [headerHeight]="50" [footerHeight]="50" [scrollbarH]="true">

                    <ngx-datatable-column name="Date" prop="date" [width]="150">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            {{ row.date | date: 'dd/MM/yyyy' }}
                        </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column name="Engin" prop="enginGpsLocation.name" [width]="150">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            <div>
                                <strong>{{ row.enginGpsLocation?.name }}</strong>
                                <!-- Sublim information -->
                                <br>
                                <span *ngIf="row.enginGpsLocation?.coutH>0" class="badge badge-pill badge-success">
                 Cout : {{ row.enginGpsLocation?.coutH }} Dh
              </span>
                            </div>

                        </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column name="Km parcouru" prop="routeLength" [width]="150">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            <div>
                                <strong style="color: forestgreen; ">
                                    {{ row.routeLength }} Km
                                </strong>
                                <br>
                                <span *ngIf="row.chauffeurName" class="badge badge-pill badge-warning">
                  {{ row.chauffeurName }}
              </span>
                            </div>
                        </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column name="Durée de conduite" prop="drivesDuration" [width]="150">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            {{ row.drivesDuration }}
                        </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column name="Ralentis Moteur" prop="engineIdle" [width]="150">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            {{ row.engineIdle }}
                        </ng-template>
                    </ngx-datatable-column>


                    <ngx-datatable-column name="Rendement" prop="rendement" [width]="200">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            <div *ngIf="selectedRow?.id === row.id; else viewMode" class="d-flex align-items-center">
                                <select [(ngModel)]="selectedTime.hours" class="form-control mr-2">
                                    <option *ngFor="let hour of hours" [value]="hour">{{ hour }}</option>
                                </select>

                                <select [(ngModel)]="selectedTime.minutes" class="form-control mr-2">
                                    <option *ngFor="let minute of minutes" [value]="minute">{{ minute }}</option>
                                </select>

                                <select [(ngModel)]="selectedTime.seconds" class="form-control mr-2">
                                    <option *ngFor="let second of seconds" [value]="second">{{ second }}</option>
                                </select>

                                <div class="d-flex flex-column ml-2">
                                    <i class="fa fa-check text-success"
                                       style="cursor: pointer; font-size: 1.2rem; margin-bottom: 5px;"
                                       (click)="updateRendement(row)"></i>
                                    <i class="fa fa-times text-secondary" style="cursor: pointer; font-size: 1.2rem;"
                                       (click)="cancelEdit()"></i>
                                </div>
                            </div>
                            <ng-template #viewMode>
                                <div class="d-flex justify-content-between align-items-center">
                                    <strong (click)="editRow(row)" style="color: rgb(137, 48, 48); cursor: pointer;">
                                        {{ row.rendement }}
                                    </strong>
                                </div>
                            </ng-template>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Nombre D'heures" prop="nbrH" [width]="150">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            {{ row.nbrH | number: '1.2-2' }} H
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Montant Imputer" prop="Montant" [width]="150">
                        <ng-template let-row="row" ngx-datatable-cell-template>
        <span [ngStyle]="{'color': getColor(row.rendementImputation)}">
            {{ row.rendementImputation | number: '1.2-2' }}
        </span>
                        </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column name="Status" [width]="150">
                        <ng-template let-row="row" ngx-datatable-cell-template>

                            <div class="form-group">
                                <div class="custom-control custom-checkbox custom-control-inline">
                                    <input [disabled]="true" type="checkbox" class="custom-control-input" id="imputation"
                                           [ngModelOptions]="{standalone: true}" [(ngModel)]="row.imputationStatus"/>
                                    <label class="custom-control-label" for="imputation">Imputation</label>
                                </div>
                            </div>

                        </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column name="Actions" [width]="70" [sortable]="false">
                        <ng-template ngx-datatable-cell-template let-row="row">
                            <div ngbDropdown container="body">
                                <button ngbDropdownToggle type="button" class="btn icon-btn btn-sm hide-arrow" rippleEffect>
                                    <span [data-feather]="'more-vertical'" class="cursor-pointer"></span>
                                </button>
                                <div ngbDropdownMenu>
                                    <a (click)="openModalsViewImputations(imputationModal, row)" ngbDropdownItem>
                                        <span data-feather="edit" class="mr-50"></span> Imputation Engin
                                    </a>
                                </div>
                            </div>
                        </ng-template>
                    </ngx-datatable-column>

                </ngx-datatable>
            </div>
        </div>

    </div>
</div>
<!--Imputation Engin-->
<ng-template #imputationModal let-modal>
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Imputation Engine</h5>
                <button type="button" class="btn btn-close btn-lg" aria-label="Close" (click)="modal.dismiss()">
                    <span aria-hidden="true" style="font-size: 1.5rem;">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>Affaire</th>
                            <th>Nombre D'heures</th>
                            <th>Observation</th>
                            <th>Client</th>
                            <th>Lot</th>
                            <th>Soustraitant</th>
                            <th>Cost</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let imputation of imputations">
                            <td>{{ imputation.affaireCode }}</td>
                            <td>{{ imputation.nbrHImputation | number:'1.2-2' }} H</td>
                            <td>{{ imputation.observation }}</td>
                            <td>{{ imputation.clientName }}</td>
                            <td>{{ imputation.lotName }}</td>
                            <td>{{ imputation.subContractorFullName }}</td>
                            <td>{{ imputation.costImputation | number:'1.2-2' }}</td>
                            <td>
                                <div ngbDropdown class="dropdown">
                                    <button ngbDropdownToggle class="btn btn-light" type="button">&#x22EE;</button>
                                    <div ngbDropdownMenu>
                                        <a class="dropdown-item" (click)="openEditImputationModal(imputation)">Edit</a>
                                        <a class="dropdown-item text-danger" (click)="removeImputation(imputation)">Delete</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <td></td> <!-- Empty cell for Affaire -->
                            <td style="text-align: center;">
                                <div class="Total D'heures"
                                     style="background-color: #e2f0d9; border-radius: 5px; padding: 10px; font-weight: bold;">
                                    <span style="color: #28a745;">Total Heures:</span>
                                    <span style="color: #333;">{{ getTotalHeureImputation() | number:'1.2-2' }} H</span>
                                </div>
                            </td>
                            <td></td> <!-- Empty cell for Observation -->
                            <td></td> <!-- Empty cell for Client -->
                            <td></td> <!-- Empty cell for Lot -->
                            <td></td> <!-- Empty cell for Soustraitant -->
                            <td style="text-align: center;">
                                <div class="total-cost"
                                     style="background-color: #e2f0d9; border-radius: 5px; padding: 10px; font-weight: bold;">
                                    <span style="color: #28a745;">Total Cost:</span>
                                    <span style="color: #333;">{{ getTotalCostImputation() | number:'1.2-2' }}</span>
                                </div>
                            </td>
                            <td></td> <!-- Empty cell for Action -->
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>

            <div class="modal-footer" style="background-color: #f8f9fa; border-top: 1px solid #dee2e6; padding: 1rem;">
                <button type="button" class="btn btn-success" (click)="openAddImputationModal()">
                    + Add Imputation
                </button>
            </div>
        </div>
    </div>
</ng-template>
<!--Add imputation-->

<ng-template #addImputationModal let-modal>
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Imputation Engin</h5>
                <button type="button" class="btn btn-close" aria-label="Close" (click)="modal.dismiss()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <form #form="ngForm" (ngSubmit)="saveImputation(modal)">
                    <div class="row">
                        <!-- Affaire Selection -->
                        <div class="col-md-6 col-12">
                            <div class="form-group">
                                <label for="affaire">Affaire</label>
                                <fieldset class="form-group">
                                    <ng-select id="affaire" [clearable]="false" [items]="affaires"
                                               [(ngModel)]="enginImputationResponseDTO.affaire" name="affaires"
                                               bindLabel="code"
                                               (change)="onAffaireChanged($event)" required></ng-select>
                                </fieldset>
                                <div *ngIf="form.controls['affaires']?.invalid && form.controls['affaires']?.touched"
                                     class="text-danger">
                                    Affaire is required.
                                </div>
                            </div>
                        </div>

                        <!-- Number of Hours -->
                        <div class="col-md-6 col-12">
                            <div class="form-group">
                                <label for="nbrHImputation">Nombre D'heures</label>
                                <input type="number" id="nbrHImputation" class="form-control"
                                       [(ngModel)]="enginImputationResponseDTO.nbrHImputation" name="nbrHImputation"
                                       (keyup)="onHoursKeyUp()" step="0.01" required/>
                                <div *ngIf="!enginImputationResponseDTO.nbrHImputation && form.controls['nbrHImputation']?.touched"
                                     class="text-danger">
                                    Nombre D'heures is required and must be greater than 0.
                                </div>
                            </div>
                        </div>


                        <!-- Observation -->
                        <div class="col-md-6 col-12">
                            <div class="form-group">
                                <label for="observation">Observation</label>
                                <input type="text" id="observation" class="form-control"
                                       [(ngModel)]="enginImputationResponseDTO.observation" name="observation"/>
                            </div>
                        </div>

                        <!-- Client Selection -->
                        <div class="col-md-6 col-12">
                            <div class="form-group">
                                <label for="client">Client</label>
                                <fieldset class="form-group">
                                    <ng-select id="client" [clearable]="true" [items]="clients"
                                               [(ngModel)]="enginImputationResponseDTO.client" name="clients"
                                               bindLabel="name"
                                               (change)="onClientChanged($event)" required></ng-select>
                                </fieldset>
                                <div *ngIf="form.controls['clients']?.invalid && form.controls['clients']?.touched"
                                     class="text-danger">
                                    Client is required.
                                </div>
                            </div>
                        </div>

                        <!-- Lot Selection -->
                        <div class="col-md-6 col-12">
                            <div class="form-group">
                                <label for="lot">Lot</label>
                                <fieldset class="form-group">
                                    <ng-select id="lot" [clearable]="true" [items]="lots"
                                               [(ngModel)]="enginImputationResponseDTO.lot"
                                               (change)="onLotChanged($event)"
                                               name="lots" bindLabel="name"></ng-select>
                                </fieldset>
                            </div>
                        </div>

                        <!-- Subcontractor -->
                        <div class="col-md-6 col-12">
                            <div class="form-group">
                                <label for="subContractor">Sous-traitant</label>
                                <fieldset class="form-group">
                                    <ng-select id="subContractor" [clearable]="true" [items]="soustraitants"
                                               [(ngModel)]="enginImputationResponseDTO.soustraitant"
                                               name="soustraitants" bindLabel="fullName"
                                               (change)="onSubcontractorChanged($event)"></ng-select>
                                </fieldset>
                            </div>
                        </div>

                        <!-- Cost -->
                        <div class="col-md-6 col-12">
                            <div class="form-group">
                                <label>Cost</label>
                                <div class="form-control-plaintext">
                                    {{
                                        enginImputationResponseDTO.costImputation
                                            | number: '1.2-2'
                                    }}
                                </div>
                            </div>
                        </div>

                        <!-- Actions -->
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary mr-1" [disabled]="form.invalid">
                                Sauvegarder Imputation
                            </button>
                            <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss()">
                                Annuler
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</ng-template>

<!--edite imputation-->
<ng-template #editeImputationModal let-modal>
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modifier Imputation</h5>
                <button type="button" class="btn btn-close" aria-label="Close" (click)="modal.dismiss()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form #form="ngForm" (ngSubmit)="updateImputation(modal)">
                    <div class="row">
                        <div class="col-md-6 col-12">
                            <div class="form-group">
                                <label for="affaireEditedId">Affaire</label>
                                <fieldset class="form-group">
                                    <ng-select id="affaireEditedId" [clearable]="false" [items]="affaires"
                                               [(ngModel)]="enginImputationResponseDTO.affaire" name="affaires"
                                               bindLabel="code"
                                               (change)="onAffaireChanged($event)">
                                    </ng-select>
                                </fieldset>

                                <div *ngIf="form.controls['affaireId']?.invalid && form.controls['affaireId']?.touched"
                                     class="text-danger">
                                    Affaire is required.
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-12">
                            <div class="form-group">
                                <label for="nbrHImputationEdited">Nombre D'heures</label>
                                <input type="number" id="nbrHImputationEdited" class="form-control"
                                       [(ngModel)]="enginImputationResponseDTO.nbrHImputation" name="nbrHImputation"
                                       (keyup)="onHoursKeyUp()" step="0.01"/>
                                <div *ngIf="!enginImputationResponseDTO.nbrHImputation && form.controls['nbrHImputation']?.touched"
                                     class="text-danger">
                                    Nombre D'heures is required and must be greater than 0.
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 col-12">
                            <div class="form-group">
                                <label for="observationEdited">Observation</label>
                                <input type="text" id="observationEdited" class="form-control"
                                       [(ngModel)]="enginImputationResponseDTO.observation" name="observation"/>
                            </div>
                        </div>

                        <div class="col-md-6 col-12">
                            <div class="form-group">
                                <label for="clientEditedId">Client</label>
                                <fieldset class="form-group">
                                    <ng-select id="clientEditedId" [clearable]="true" [items]="clients"
                                               [(ngModel)]="enginImputationResponseDTO.client" name="clients"
                                               bindLabel="name" (change)="onClientChanged($event)">
                                    </ng-select>
                                </fieldset>

                                <div *ngIf="form.controls['clientId']?.invalid && form.controls['clientId']?.touched"
                                     class="text-danger">
                                    Client is required.
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 col-12">
                            <div class="form-group">
                                <label for="lotEditedId">Lot</label>
                                <fieldset class="form-group">
                                    <ng-select id="lotEditedId" [clearable]="true" [items]="lots"
                                               [(ngModel)]="enginImputationResponseDTO.lot" name="lots" bindLabel="name"
                                               (change)="onLotChanged($event)">
                                    </ng-select>
                                </fieldset>
                            </div>
                        </div>

                        <div class="col-md-6 col-12">
                            <div class="form-group">

                                <label for="subContractorEditedId">Sous-traitant</label>
                                <fieldset class="form-group">
                                    <ng-select id="subContractorEditedId" [clearable]="true" [items]="soustraitants"
                                               [(ngModel)]="enginImputationResponseDTO.soustraitant"
                                               name="soustraitants"
                                               bindLabel="fullName" (change)="onSubcontractorChanged($event)">
                                    </ng-select>
                                </fieldset>
                            </div>
                        </div>

                        <div class="col-md-6 col-12">
                            <div class="form-group">
                                <label>Cost</label>
                                <div class="form-control-plaintext">
                                    {{ enginImputationResponseDTO.costImputation | number:'1.2-2' }}
                                </div>
                            </div>
                        </div>

                        <div class="col-12">
                            <button type="submit" class="btn btn-primary mr-1">Modifier Imputation</button>
                            <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss()">Annuler
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</ng-template>
