<div class="content-wrapper">
    <div class="content-body">
        <div class="card shadow-sm border-0 rounded-lg overflow-hidden">
            <!-- Header Section -->
            <div class="card-header bg-white text-dark py-3 px-4 d-flex justify-content-between align-items-center shadow-sm border-0 rounded-3">
                <!-- Left Section: Title and Icon -->
                <div class="d-flex align-items-center">
                  <div class="icon-container bg-primary rounded-circle d-flex justify-content-center align-items-center mr-3" style="width: 3rem; height: 3rem;">
                    <i data-feather="truck" class="text-white" style="width: 1.75rem; height: 1.75rem;"></i>
                  </div>
                  <h5 class="mb-0 font-weight-bold font-size-lg">Gestion des Engins</h5>
                </div>
              
                <!-- Right Section: Refresh Button -->
                <div>
                  <button class="btn btn-primary btn-sm d-flex align-items-center px-3 py-2 border-0 rounded-2" (click)="refreshData()">
                    <i data-feather="refresh-cw" class="mr-2"></i> Rafraîchir
                  </button>
                </div>
              </div>
              
              
            <!-- Card Body -->
            <div class="card-body bg-white px-5 py-4">
              <!-- Action Buttons -->
              <div class="d-flex justify-content-between align-items-center mb-4">
                <div class="d-flex">
                  <button class="btn btn-success btn-lg mr-3 d-flex align-items-center" (click)="toggleSidebar('new-add-sidebar')">
                    <i data-feather="plus" class="mr-2"></i> Ajouter Engin
                  </button>
                  <button class="btn btn-primary btn-lg d-flex align-items-center" (click)="ChargerNewEngin()">
                    <i data-feather="download" class="mr-2"></i> Charger Engin
                  </button>
                </div>
                <div class="input-group w-50">
                  <input
                    type="search"
                    class="form-control form-control-lg border-light shadow-sm"
                    placeholder="Rechercher..."
                    [(ngModel)]="searchValue"
                    (keyup)="filterUpdate($event)"
                  />
                  <div class="input-group-append">
                    <button class="btn btn-primary d-flex align-items-center">
                      <i data-feather="search"></i>
                    </button>
                  </div>
                </div>
              </div>
          
              <!-- Filters Section -->
              <div class="row mb-4">
                <!-- Items Per Page -->
                <div class="col-md-6 col-sm-12">
                  <div class="d-flex align-items-center">
                    <label for="itemsPerPage" class="mr-3 font-weight-bold text-dark">Afficher :</label>
                    <select
                      id="itemsPerPage"
                      class="form-control form-control-lg border-light w-auto shadow-sm"
                      [(ngModel)]="selectedOption"
                    >
                      <option value="15">15</option>
                      <option value="30">30</option>
                      <option value="50">50</option>
                      <option value="100">100</option>
                    </select>
                    <span class="ml-3 text-dark">éléments</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          

            <div class="card">

                <ngx-datatable [rows]="rows" [rowHeight]="50" class="bootstrap core-bootstrap" [limit]="selectedOption"
                    [columnMode]="ColumnMode.force" [headerHeight]="50" [footerHeight]="50" [scrollbarH]="true">
                    <ngx-datatable-column name="Engin" prop="name" [width]="200">
                        <ng-template ngx-datatable-cell-template let-row="row" let-name="value">
                            <div class="d-flex align-items-center">
                                <div class="cell-line-height">
                                    <a (click)="toggleSidebar('new-affectation-sidebar', row)"
                                        class="font-medium-1 d-block">
                                        <span class="font-weight-bold">{{ name }}</span>
                                    </a>
                                </div>
                            </div>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Code Engin" prop="device" [width]="150"></ngx-datatable-column>
                    <ngx-datatable-column name="Model" prop="model" [width]="150"></ngx-datatable-column>
                    <ngx-datatable-column name="Cout / H" prop="coutH" [width]="150">
                        <ng-template ngx-datatable-cell-template let-row="row" let-coutH="value">
                            {{ coutH | number: '1.2-2' }}
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Chauffeur" prop="chauffeur.name" [width]="150"></ngx-datatable-column>
                    <ngx-datatable-column name="Actions" [width]="40" [sortable]="false">
                        <ng-template ngx-datatable-cell-template let-row="row">
                            <div ngbDropdown container="body">
                                <button ngbDropdownToggle type="button" class="btn icon-btn btn-sm hide-arrow"
                                    rippleEffect>
                                    <span [data-feather]="'more-vertical'" [class]="'cursor-pointer'"></span>
                                </button>
                                <div ngbDropdownMenu>
                                    <a (click)="toggleSidebar('new-affectation-sidebar', row)" ngbDropdownItem>
                                        <span data-feather="edit" class="mr-50"></span> Modifier
                                    </a>
                                    <a href="javascript:;" ngbDropdownItem
                                        (click)="confirmDeleteEngin(row.id); console.log(row)">
                                        <span data-feather="trash" class="mr-50"></span> Supprimer
                                    </a>
                                </div>
                            </div>
                        </ng-template>
                    </ngx-datatable-column>
                </ngx-datatable>
            <!--/ Vehicle List -->
            </div>

        <!-- update Vehicle Sidebar -->
         <core-sidebar class="modal modal-slide-in sidebar-todo-modal fade" name="new-affectation-sidebar" overlayClass="modal-backdrop">
            <app-affectation-chauffeur-cout [selectedEngin]="selectedEngin"></app-affectation-chauffeur-cout>
         </core-sidebar>
        <!--/ New Vehicle Sidebar -->
        <!-- update Vehicle Sidebar -->
        <core-sidebar class="modal modal-slide-in sidebar-todo-modal fade" name="new-add-sidebar" overlayClass="modal-backdrop">
            <app-add-engin></app-add-engin>
         </core-sidebar>
        <!--/ New Vehicle Sidebar -->
    </div>