<div class="slideout-content">
    <!-- Modal to add new chauffeur starts-->
    <div class="slideout-content">
        <!-- Modal to add new chauffeur starts-->
        <div class="modalsd modal-slide-in sdfade new-chauffeur-modal" id="modals-slide-in">
            <div class="modal-dialog">
                <form class="add-new-chauffeur modal-content pt-0" (ngSubmit)="createNewChauffeur()"
                    #newChauffeurForm="ngForm">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                        (click)="toggleSidebar('new-chauffeur-sidebar')">
                        ×
                    </button>
                    <div class="modal-header mb-1">
                        <h5 class="modal-title" id="exampleModalLabel">Nouveau Chauffeur</h5>
                    </div>
                    <div class="modal-body flex-grow-1">
                        <div class="form-group">
                            <label class="form-label" for="chauffeur-name">Nom Complet</label>
                            <input type="text" class="form-control" id="chauffeur-name"
                                name="chauffeur-name" [(ngModel)]="newChauffeur.name" required />
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="chauffeur-idn">Code Chauffeur </label>
                            <input type="text" class="form-control" id="chauffeur-idn"
                                name="chauffeur-idn" [(ngModel)]="newChauffeur.idn" required />
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="chauffeur-address">Role</label>
                            <input type="text" class="form-control" id="chauffeur-address"
                                   name="chauffeur-address" [(ngModel)]="newChauffeur.role" required />
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="chauffeur-phone">Téléphone</label>
                            <input type="text" class="form-control" id="chauffeur-phone"
                                name="chauffeur-phone" [(ngModel)]="newChauffeur.phone" required />
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="chauffeur-email">Email</label>
                            <input type="email" class="form-control" id="chauffeur-email"
                                 name="chauffeur-email"
                                [(ngModel)]="newChauffeur.email" required />
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="chauffeur-imgPath">Image</label>
                            <input type="file" class="form-control" id="chauffeur-imgPath"
                                name="chauffeur-imgPath" (change)="onFileSelected($event)" />
                        </div>
                        <button type="submit" class="btn btn-outline-success mr-1">Ajouter</button>
                        <button type="button" class="btn btn-outline-secondary"
                            (click)="toggleSidebar('new-chauffeur-sidebar')">Anuller</button>
                    </div>
                </form>
            </div>
        </div>
        <!-- Modal to add new chauffeur Ends-->
    </div>
