<div class="content-wrapper">
    <div class="content-body">
        <!-- Chauffeur Edit start -->
        <section class="app-chauffeur-edit">
            <div class="card">
                <div class="card-body">
                    <ul ngbNav #nav="ngbNav" class="nav nav-pills">
                        <li ngbNavItem>
                            <a ngbNavLink>
                                <i data-feather="info" class="mr-sm-50"></i><span class="d-none d-sm-block">
                                    Information</span>
                            </a>

                            <ng-template ngbNavContent>
                                <!-- Chauffeur Info Tab starts -->
                                <div class="tab-pane active" id="chauffeur-info">
                                    <div class="col-12">
                                        <h4 class="mb-1">
                                            <i data-feather="user" [size]="16" class="mr-75 font-medium-4"></i>
                                            <span class="align-middle">Chauffeur Information </span>
                                        </h4>
                                    </div>
                                    <!-- Chauffeur edit form start -->
                                    <form class="form-validate" (ngSubmit)="submit()" #chauffeurForm="ngForm">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="name">Nom Complet</label>
                                                    <input type="text" id="name" class="form-control" placeholder="Name"
                                                        name="name" [(ngModel)]="chauffeur.name" required
                                                        #NameRef="ngModel" />
                                                    <span *ngIf="chauffeurForm.submitted && NameRef.invalid"
                                                        class="invalid-form">
                                                        <small class="form-text text-danger"
                                                            *ngIf="NameRef.errors.required">This field is
                                                            required!</small>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="email">Email</label>
                                                    <input type="email" id="email" class="form-control"
                                                        placeholder="Email" name="email" [(ngModel)]="chauffeur.email"
                                                        required #EmailRef="ngModel" />
                                                    <span *ngIf="chauffeurForm.submitted && EmailRef.invalid"
                                                        class="invalid-form">
                                                        <small class="form-text text-danger"
                                                            *ngIf="EmailRef.errors.required">This field is
                                                            required!</small>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="phone">TéléPhone</label>
                                                    <input type="text" id="phone" class="form-control"
                                                        placeholder="Phone" name="phone"
                                                        [(ngModel)]="chauffeur.phone" />
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="address">Role</label>
                                                    <input type="text" id="address" class="form-control"
                                                        placeholder="Role" name="address"
                                                        [(ngModel)]="chauffeur.role" />
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label for="image">Image</label>
                                                        <input type="file" id="image" class="form-control"
                                                            (change)="uploadImage($event)" />
                                                        <img [src]="avatarImage" *ngIf="avatarImage" class="mt-2"
                                                            height="300" />
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="col-12 d-flex flex-sm-row flex-column mt-2">
                                                <button type="submit" class="btn btn-primary mb-1 mb-sm-0 mr-0 mr-sm-1"
                                                    rippleEffect>
                                                    Sauvegarder
                                                </button>
                                                <!-- <button type="button" class="btn btn-outline-secondary" (click)="resetFormWithDefaultValues()"
                                                  rippleEffect>Reset</button> -->
                                            </div>
                                        </div>
                                    </form>
                                    <!-- Chauffeur edit form ends -->
                                </div>
                                <!-- Chauffeur Info Tab ends -->
                            </ng-template>
                        </li>
                    </ul>
                    <div [ngbNavOutlet]="nav" class="mt-2"></div>
                </div>
            </div>
        </section>
        <!-- Chauffeur Edit ends -->
    </div>
</div>
