<!-- Error page-->
<div class="misc-wrapper">
    <a class="brand-logo" href="javascript:void(0);">
        <img src="{{ coreConfig.app.appLogoFullColors }}" alt="brand-logo" height="100"/>
<!--        <h1 class="brand-text text-primary ml-1">SR MANAGER</h1>-->
    </a>
    <div class="misc-inner p-2 p-sm-3">
        <div class="w-100 text-center">
            <h2 class="mb-1">Page en cours de creation  🙏️</h2>
            <p class="mb-2">Oops! 😖 Cette page n'est pas achevee. Revenez plus tard Merci 🙏️</p>
            <a class="btn btn-primary mb-2 btn-sm-block"
               (click)="logout()" rippleEffect>
                Retour à la page de connexion
            </a>
            <img class="img-fluid"
                [src]="coreConfig.layout.skin === 'dark' ?
                'assets/images/pages/error-dark.svg' :
                'assets/images/pages/error.svg'"
                alt="Error page"
        />
        </div>
    </div>
</div>
<!-- / Error page-->
