<div class="slideout-content">
    <div class="modal-slide-in sdfade new-user-modal" id="modals-slide-in">
      <div class="modal-dialog">
        <form class="add-new-user modal-content pt-0" #associationForm="ngForm">
          <button type="button" class="close" (click)="toggleSidebar('new-affectation-sidebar')">×</button>
          <div class="modal-header mb-1">
            <h5 class="modal-title">Details Engin</h5>
          </div>
          <div class="modal-body flex-grow-1">
            <!-- Engin Name -->
            <div class="form-group">
              <label for="enginName">Engin</label>
              <input
                type="text"
                id="enginName"
                class="form-control"
                placeholder="Engin Name"
                name="enginName"
                [(ngModel)]="EnginName"
                
              />
            </div>
  
            <!-- Engin Model -->
            <div class="form-group">
              <label for="enginModel">Engin Model</label>
              <input
                type="text"
                id="enginModel"
                class="form-control"
                placeholder="Engin Model"
                name="enginModel"
                [(ngModel)]="model"
                
              />
            </div>
  
            <!-- Code Engin -->
            <div class="form-group">
              <label for="enginDevice">Code Engin</label>
              <input
                type="text"
                id="enginDevice"
                class="form-control"
                placeholder="Code Engin"
                name="enginDevice"
                [(ngModel)]="device"
                
              />
            </div>
  
            <!-- Chauffeur -->
            <div class="form-group">
              <label for="chauffeurId">Chauffeur</label>
              <ng-select
                id="chauffeurId"
                [items]="chauffeurs"
                [(ngModel)]="selectedDrive"
                name="chauffeurId"
                bindLabel="name"
                [clearable]="false"
              ></ng-select>
            </div>
  
            <!-- Cost Per Hour -->
            <div class="form-group">
              <label for="coutH">Cout par H</label>
              <input
                type="number"
                id="coutH"
                class="form-control"
                placeholder="Cout per H"
                name="coutH"
                [(ngModel)]="coutH"
                
                step="0.01"
              />
            </div>
  
            <!-- Buttons -->
            <button type="button" class="btn btn-primary" (click)="submitAssociation()">Sauvegarder</button>
            <button type="button" class="btn btn-outline-secondary" (click)="toggleSidebar('new-affectation-sidebar')">
              Annuler
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  