
body {

  font-weight: normal !important;
  //font-family: Cambria,Calibri,Roboto, Arial, sans-serif !important;
  font-family: Poppins, Helvetica, "sans-serif" !important;
  font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  color: #000000FF !important;
  height: 100%;
  background-color: $body-bg;
  direction: $body-direction;
  // paragraph line-height
  p {
    line-height: 1.5rem;
  }
}


.mb-2{
  margin-bottom: 2px !important;
}
.mb-4{
  margin-bottom: 4px !important;
}
.mb-6{
  margin-bottom: 6px !important;
}
.mb-8{
  margin-bottom: 8px !important;
}
.mb-10{
  margin-bottom:10px !important;
}
.mb-20{
  margin-bottom: 20px !important;
}
.ml--30{
  margin-left: -30px !important;
}

.mt--10{
  margin-top: -10px !important;
}

.mt--20{
  margin-top: -20px !important;
}

.mt--30{
  margin-top: -30px !important;
}
.mt--35{
  margin-top: -35px !important;
}
.mt--40{
  margin-top: -40px !important;
}
.mt--2{
  margin-top: -20px !important;
}

.mt-2{
  margin-top: 2px !important;
}
.mt-4{
  margin-top: 4px !important;
}
.mt-6{
  margin-top: 6px !important;
}
.mt-8{
  margin-top: 8px !important;
}

.mt-10{
  margin-top: 10px !important;
}
.mt-20{
  margin-top: 20px !important;
}
.mt-30{
  margin-top: 30px !important;
}
.mt-40{
  margin-top: 40px !important;
}
.mt-50{
  margin-top: 50px !important;
}
.mt-60{
  margin-top: 60px !important;
}
.mt-70{
  margin-top: 70px !important;
}
.mt-80{
  margin-top: 80px !important;
}

.mt-90{
  margin-top: 90px !important;
}

.mt-100{
  margin-top: 100px !important;
}

.mt-110{
  margin-top: 110px !important;
}

.mt-120{
  margin-top: 120px !important;
}

.mr-3{
  margin-right: 3px !important;
}
.mr-10{
  margin-right: 10px !important;
}
.mr-20{
  margin-right: 20px !important;
}

.demo-inline-spacing{
  //margin-left: 24px !important;
}

.pt-10{
  padding-top:10px !important;
}

.pr-10{
  padding-right: 10px;
}
.pl-10{
  padding-left: 10px !important;
}
.pl-20{
  padding-left: 20px !important;
}
.pl-30{
  padding-left: 30px !important;
}
.pl-40{
  padding-left: 40px !important;
}
.pl-50{
  padding-left: 50px !important;
}

.pl-70{
  padding-left: 70px !important;
}

.pl-80{
  padding-left: 80px !important;
}
.pl-90{
  padding-left: 90px !important;
}

.pl-100{
  padding-left: 100px !important;
}


.pb-10{
  padding-bottom: 10px !important;
}

.pb-15{
  padding-bottom: 15px !important;
}

.pb-20{
  padding-bottom: 20px !important;
}

.pb-30{
  padding-bottom: 30px !important;
}

.pb-40{
  padding-bottom: 40px !important;
}

.pb-50{
  padding-bottom: 50px !important;
}

mr-10{
  margin-right: 10px;
}

.ml-5{
  margin-left: 5px !important;
}
.ml-10{
  margin-left: 10px !important;
}
.ml-20{
  margin-left: 20px !important;
}
.ml-30{
  margin-left: 30px !important;
}
.ml-40{
  margin-left: 40px !important;
}
.ml-50{
  margin-left: 50px !important;
}

.text-bold{
  font-weight: bold;
}
.text-black{
  color: $black !important;;
}

.padding-5-10{
  padding: 5px 5px 5px 10px !important;
}
.padding-10-5{
  padding: 10px 5px 5px 10px !important;
}
.spinerloading {
  position: absolute;
  left: calc(50% - 35px);
  top: 50%;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 3px solid transparent;
}

.child-article{
  padding-left: 20px !important;
  font-size: 12px !important;
}

.child-line-str{
  &:before,&:after{
    left: 25px !important;
  }
  padding-left: 25px !important;
}

.nav-vertical-over{
  overflow: visible !important;
}
